html, body {
  height: 100%;
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #283149;
  background: url(images/LarsUlrich.jpg);
}

main{
  flex: 1 0 auto;
}

h1 {
  font-size: 4rem;
  color: #F2F013;
  font-family: "Arvo", cursive;
  text-shadow: 5px 5px #FF5151;
  animation: header 0.5s 3;
}

@keyframes header {
  0%, 100% {
    text-shadow: 5px 5px #FF5151;
    
  }  
  50% {
    text-shadow: 8px 8px #d9ff51;
  }

}

.set {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.set_left {
  display: flex;
  flex-direction: column;
}

.set_left_top {
  display: flex;
  justify-content: center;
}

.set_left_bottom{ 
  display: flex;
}

.set_right{
  display: flex;
}

.drum {
  display:flex;
  justify-content: center;
  align-items:flex-end;
  border: 5px solid #105652;
  font-size: 2rem;
  font-family: "Arvo", cursive;
  font-weight: 900;
  color: #06FF00;
  text-shadow: 3px 0 #F2F013;
  border-radius: 15px;
  width: 150px;
  height: 150px;
  text-align:center;
  margin: 10px;
  background-color: #fff;
  background-size: contain;
}



.w {
  background-image: url("images/tom1.png");
  animation: focus 0.5s 2s;
}

.w > span {
  animation: keyFocus 0.5s 2s;
}

.a {
  background-image: url("images/tom2.png");
  animation: focus 0.5s 2.5s;
}

.a > span {
  animation: keyFocus 0.5s 2.5s;
}

.s {
  background-image: url("images/tom3.png");
  animation: focus 0.5s 3s;
}

.s > span {
  animation: keyFocus 0.5s 3s;
}

.d {
  background-image: url("images/tom4.png");
  animation: focus 0.5s 3.5s;
}

.d > span {
  animation: keyFocus 0.5s 3.5s;
}

.j {
  background-image: url("images/snare.png");
  animation: focus 0.5s 4s;
}

.j > span {
  animation: keyFocus 0.5s 4s;
}

.k {
  background-image: url("images/crash.png");
  animation: focus 0.5s 4.5s;
}

.k > span {
  animation: keyFocus 0.5s 4.5s;
}

.l {
  background-image: url("images/kick.png");
  animation: focus 0.5s 5s;
}

.l > span {
  animation: keyFocus 0.5s 5s;
}

@keyframes focus {
  0%, 100%{
    border:5px solid #105652;
  }
  50%{
    border:7px solid #F2F013;
  } 
}

@keyframes keyFocus {
  0%, 100% {
    background-color: #fff;
  }
  50%{
    background-color: #F2F013;
    padding: 5px;
    border-radius: 10px;
  }
  
}

footer {
  flex-shrink: auto;
  color: #1b2022;
  background-color: #bbcef8;
  font-family: sans-serif;
  font-size: 0.7em
}

a {
  text-decoration: none;
  color: magenta;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

/* MEDIA */
@media screen and (max-width: 1112px) {

  .drum {
    width: 100px;
    height: 100px;
    margin: 10px;
  }
  
}

@media (max-width: 736px) {
  .drum{
    width:70px;
    height:70px;
  }
  
}

@media (max-width:568px){
  .drum{
    width: 60px;
    height:60px;
    border-width: 2px;
  }
}

@media (max-width: 485px){
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1{
    font-size: 2em;
  }

  .drum{
    width: 50px;
    height: 50px;
  }
}

@media (max-width:414px){
  .set_left_bottom{
    flex-direction: column;
  }

  .set_right{
    flex-direction: column;
  }

  .drum{
    width: 80px;
    height:80px;
  }
}
