
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #283149;
  background: url(images/LarsUlrich.jpg);
  opacity: 0.6;
  
}

main{
  flex: 1 0 auto;
}

h1 {
  font-size: 4rem;
  color: #fff;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 rgba(224, 61, 184, 0.808);
}


.set {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer {
  flex-shrink: auto;
  color: #1b2022;
  background-color: #bbcef8;
  font-family: sans-serif;
}



a {
  text-decoration: none;
  color: magenta;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}


.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/crash.png");
}

.l {
  background-image: url("images/kick.png");
}


.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404b69;
  font-size: 5rem;
  font-family: "Arvo", cursive;
  line-height: 2;
  font-weight: 900;
  color: #d6da04;
  text-shadow: 3px 0 #dbedf3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

@media screen and (max-width: 550px) {

}
